/* :root {
  --md-primary-fg-color: #333333;
  --md-primary-fg-color--light: #4a4a4a;
  --md-primary-fg-color--dark: #1e1e1e;
  --md-accent-fg-color: #8bbd6e;
  --md-accent-fg-color--transparent: rgba(139, 189, 110, 0.1);
}

.md-header {
  background-color: #333333;
}

.md-nav__link:hover {
  color: #8bbd6e;
}

.md-footer {
  background-color: #333333;
} */